@import url('./reset.css');

* {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	/* Impede o scroll horizontal */
}

body {
	font-family: 'Open Sans', verdana, helvetica, arial, sans-serif;
}

header {
	background-image: url(../img/fundo01.jpeg);
	background-position: center top;
	background-size: auto auto;
	background-repeat: no-repeat;
}

section#header {
	min-height: 669.188px;
	background-color: rgba(106, 168, 79, 0.392);
	padding-top: 100px;
	background-size: cover;
}

#header img {
	display: flex;
	max-width: 700px;
	height: auto;
	justify-content: center;
	align-items: middle;
	margin: auto;
}

#logo>h1 {
	text-align: center;
	margin: auto;
	color: #035632;
	font-size: 2em;
}

#logo>h2 {
	text-align: center;
	margin: 50px;
	color: #DAE6C9;
	font-size: 2.7em;
	font-family: 'Oswald';
	font-weight: 400;
	word-break: break-word;
}

section#section02 {
	min-height: 315px;
	background-color: rgba(106, 168, 79, 0.392);

}

.section02Text {
	padding: 20px;
	text-align: center;
	color: #565658;
}

.section02Text {
	padding: 40px;
	text-align: center;
	color: #565658;
	font-family: 'Oswald';
}

.section02Text strong {
	font: 1.6em;
}

.section02Text h3 {
	padding-top: 20px;
}

section#section03 {
	min-height: 473px;
	background-color: #ffffff;
	background-image: url(../img/fundo03.jpeg);
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: center top;
	display: flex;
	/* Flex para centralizar */
	justify-content: start;
	/* Centraliza horizontalmente os filhos */
	align-items: center;
	/* Centraliza verticalmente os filhos */
	padding: 20px;
	/* Adiciona espaçamento interno */
}

div#section03box {
	max-width: 940px;
	/* Limita a largura */
	width: 100%;
	/* Preenche o espaço disponível até o limite do max-width */
	margin: 0 auto;
	/* Centraliza horizontalmente */
	display: flex;
	gap: 20px;
	/* Espaçamento entre os elementos internos */
	flex-wrap: wrap;
	/* Permite quebra de linha em telas menores */
	justify-content: start;
	/* Centraliza horizontalmente os filhos */
	align-items: center;
	/* Alinha verticalmente */
}

#section03title {
	padding: 20px 0 20px 0;
	text-align: start;
	margin: auto 0;
	/* Centraliza horizontalmente */
}

#section03 h2 {
	color: #565658;
	font: 3.5em 'Oswald';
}

#section03box>div {
	text-align: start;
	margin: auto 0;
	/* Centraliza horizontalmente */
}

#section03box span {
	font: 1.4em 'Oswald';
	color: #565658;
}

section#section04 {
	min-height: 473px;
	background-color: #ffffff;
	background-image: url(../img/fundo04.jpeg);
	background-size: auto auto;
	background-repeat: no-repeat;
	background-position: center top;
	display: flex;
	/* Flex para centralizar */
	justify-content: end;
	/* Centraliza horizontalmente os filhos */
	align-items: center;
	/* Centraliza verticalmente os filhos */
	padding: 20px;
	/* Adiciona espaçamento interno */
}

div#section04box {
	max-width: 940px;
	/* Limita a largura */
	width: 100%;
	/* Preenche o espaço disponível até o limite do max-width */
	margin: 0 auto;
	/* Centraliza horizontalmente */
	display: flex;
	gap: 20px;
	/* Espaçamento entre os elementos internos */
	flex-wrap: wrap;
	/* Permite quebra de linha em telas menores */
	justify-content: end;
	/* Centraliza horizontalmente os filhos */
	align-items: center;
	/* Alinha verticalmente */
}

#section04title {
	padding: 20px 0 20px 0;
	text-align: end;
	margin: auto 0;
	/* Centraliza horizontalmente */
}

#section04 h2 {
	color: #565658;
	font: 3.5em 'Oswald';
}

#section04box>div {
	text-align: end;
	margin: auto 0;
	/* Centraliza horizontalmente */
}

#section04box span {
	font: 1.4em 'Oswald';
	color: #565658;
}


/* Estilo da seção */
section#section05 {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 405px;
	background-color: #ffffff;
	background-image: url(../img/fundo05.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
	padding-left: 20px;
}

/* Container principal */
.section05-container {
	display: flex;
	justify-content: center;
	/* Alinha os dois blocos lado a lado */
	align-items: center;
	/* Centraliza verticalmente */
	width: 100%;
	max-width: 1200px;
}

/* Texto */
#section05Text {
	flex: 1;
	white-space: nowrap;
	padding-left: 5%;
}

#section05box {
	margin: 0;
}

#section05box h2 {
	color: #035632;
	font: 3.5em 'Oswald';
}

#section05box span {
	color: #035632;
	font: 1.4em 'Oswald';
}

#section05title {
	padding-bottom: 20px;
}

/* Formulário */
.form-container {
	flex: 1;
	max-width: 60%;
	padding: 15% 5% 10% 5%;
	border-radius: 8px;
}

/* Estilo do formulário */
.contact-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.contact-form .form-group {
	display: flex;
	flex-direction: column;
}

.contact-form input,
.contact-form textarea {
	font-size: 14px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	outline: none;
	transition: border-color 0.3s ease;
	opacity: 0.7;
}

.contact-form input:focus,
.contact-form textarea:focus {
	border-color: #007bff;
	opacity: 1;
}

.contact-form textarea {
	resize: none;
	min-height: 100px;
}

.contact-form .form-submit-btn {
	background-color: #007bff;
	color: #fff;
	width: 200px;
	font-size: 1em;
	padding: 10px 15px;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

div#button.form-group {
	padding-top: 20px;
	align-items: start;
	/* Centraliza horizontalmente os filhos */
}

.contact-form .form-submit-btn:hover {
	background-color: #0056b3;
}

/* Estilo geral da seção */

.arrow {
    display: inline-block;
    font-size: 2em; /* Tamanho da seta */
    animation: bounce 1s infinite; /* Duração e repetição */
    cursor: pointer; /* Deixa o ponteiro como clique */
}

[data-aos=fade-up].arrow {
    opacity: 1;
    transform: translateY(0);
    transition: none;
}

/* Animação para subir e descer */
@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Posição inicial e final */
    }
    50% {
        transform: translateY(-10px); /* Move para cima */
    }
}

hr.divider {
    border: 0;
    height: 1px;
    background: linear-gradient(to right, #0b4351, #ffffff, #0b4351);
    margin: 20px 0;
}

#section06 {
	background-color: #ffffff;
	text-align: center;
	padding: 20px 0;
	font: 'Oswald';
	color: #DAE6C9;
}

#section06box {
	max-width: 1000px;
	margin: 0 auto;
}

#section06 h2 {
	font-size: 3.5em;
	font-family: Oswald, sans-serif;
	color: #565658;
	margin-bottom: 20px;
	padding-left: 60px;
	text-align: left;
}

/* Estilo do container de imagens */
.container-box {
	display: flex;
	gap: 20px;
	justify-content: center;
	/* Centraliza as imagens */
	flex-wrap: wrap;
	/* Permite quebra de linha em telas menores */
}

.content-box {
	flex: 1 1 200px;
	/* Tamanho flexível, mínimo 300px */
	max-width: 300px;
	/* Largura máxima para cada coluna */
	position: relative;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	margin: 0 auto;
	/* Centraliza cada coluna */
}

/* Estilo das imagens */
.image-box img {
	width: 100%;
	/* Imagem ocupa toda a largura disponível */
	height: 75%;
	object-fit: cover;
	border-radius: 10px 10px 0 0;
}

/* Overlay com texto inicial */
.overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 38, 17, 0.8);
	/* Cor verde com leve opacidade */
	color: #fff;
	padding: 20px;
	text-align: center;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

/* Texto inicial */
.text-overlay {
	display: block;
	color: #DAE6C9;
}

.text-overlay h3 {
	font-size: 1.5em;
	text-align: center;
}

/* Seta para interação */
.arrow {
	font-size: 2em;
	margin-top: 10px;
	box-shadow: #002611;
}

/* Texto completo escondido inicialmente */
.full-text {
	position: absolute;
	top: 100%;
	/* Fora da tela */
	left: 0;
	width: 100%;
	color: #fff;
	padding: 20px;
	text-align: left;
	overflow-y: auto;
	/* Caso o texto seja longo */
	height: 100%;
	/* Cobre toda a imagem */
	transition: all 0.5s ease-in-out;
	color: #DAE6C9;
}

.full-text h3 {
	text-align: center;
	font-size: 1.5em;
}

.full-text strong {
	text-align: center;
	display: block;
	margin: 0 auto;
}

/* Quando a classe 'active' for adicionada */
.content-box.active .overlay {
	top: 0;
	height: 100%;
}

.content-box.active .text-overlay {
	display: none;
	/* Esconde o texto inicial */
}

.content-box.active .full-text {
	top: 0;
	/* Mostra o texto completo */
}

footer {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 40px 0;
	color: #fff;
	background-color: #002611;
	background-image: linear-gradient(rgba(50, 168, 219, .0), rgba(50, 168, 219, .2));
}

footer h1 {
	margin: 20px;
	font-weight: 700;
	font-size: 6.5em;
	font-family: "Pathway Gothic One", serif;
	letter-spacing: 4px;
	/* Aumenta o espaçamento em 2px */
}

footer span {
	font: 1.4em 'Oswald';
	color: #DAE6C9;
}

.social svg {
	width: 40px;
	height: 40px;
	margin: 2px;
}

footer ul {
	list-style-type: none;
	padding: 20px 0 0 0;
	margin: 0;
	display: flex;
	justify-content: center;
	gap: 20px;
	align-items: center;
}

footer ul li {
	display: flex;
	align-items: center;
}

.ico-facebook {
	fill: rgb(44, 92, 155);
	color: #fff;
}

.ico-instagram {
	fill: rgb(241, 78, 118);
	color: #fff;
}



/* Estilos gerais para dispositivos móveis */
@media (max-width: 1024px) {
	/* Ajustes para tablets e telas menores */

	#section05Text {
		flex: 1;
		white-space: wrap;
		padding-left: 5%;
	}

	.form-container {
		flex: 1;
		max-width: 90%;
		padding: 5% 5% 10% 5%;
		border-radius: 8px;
		height: 350px;
	}
}

@media (max-width: 768px) {

	/* Ajustes para smartphones maiores */
	header {
		background-size: cover;
	}

	#header img {
		max-width: 70%;
	}

	#logo>h1,
	#logo>h2 {
		font-size: 1.5em;
		margin: 20px;
	}

	section#section03 {
		background-size: auto 90%;
		/* Aumenta a altura para 120% enquanto mantém a proporção */
		margin-bottom: -50px;
	}

	#section03box>div {
		max-width: 65%;
		/* Limita o texto a metade da largura */
	}

	#section03box h2 {
		font-size: 2.5em;
	}

	#section03box span {
		font-size: 1.2em;
	}

	#section03title {
		padding: 20px 0 10px 0;
	}

	section#section03 {
		display: flex;
		justify-content: space-between;
		/* Cria espaço entre texto e imagem */
	}

	section#section04 {
		background-size: auto 90%;
		/* Aumenta a altura para 120% enquanto mantém a proporção */
		margin-top: -50px;
		margin-bottom: -10%;
	}

	#section04message {
		text-align: justify;
		/* Justifica o texto para alinhar à direita e à esquerda */
		max-width: 73%;
		/* Limita a largura do texto */
		margin-left: auto;
		/* Empurra o texto para o lado direito */
	}

	#section04box h2 {
		font-size: 2.5em;
	}

	#section04box span {
		font-size: 1.2em;
	}

	#section04title {
		padding: 20px 0 10px 0;
	}

	section#section04 {
		display: flex;
		justify-content: space-between;
		/* Cria espaço entre texto e imagem */
	}

	#section05box h2 {
		font-size: 2.5em;
	}

	#section05box span {
		font-size: 1.2em;
	}

	section#section05 {
		background-size: auto 90%;
		padding: 0 0 0 5%;
		align-items: flex-start;
		margin-bottom: -7%;
	}

	.section05-container {
		width: 70%;
	}

	#section05Text {
		padding-top: 2%;
	}

	#section05 img {
		width: 95%;
		height: 100%;
	}

	div#button.form-group {
		padding-top: 0;
		align-items: start;
	}

	#section06box h2 {
		font-size: 2.5em;
	}

	#section06box h3 {
		font-size: 1.3em;
	}

	#section06box span {
		font-size: 1.2em;
	}

	.content-box {
		flex: 1 1 200px;
		/* Tamanho flexível, mínimo 200px */
		max-width: 250px;
		/* Largura máxima para cada coluna */
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
		margin: 0 auto;
		/* Centraliza cada coluna */
	}

	#section06box .container {
		flex-direction: column;
		/* Empilha as divs */
	}

	#section06box .image-box {
		width: 100%;
	}

	#section06box .text-box {
		width: 100%;
		text-align: justify;
		/* Justifica o texto para um layout limpo */
	}

}

@media (max-width: 663px) {
	
	#section05title {
		padding-bottom: 0;
	}

}


@media (max-width: 540px) {

	.content-box {
	max-width: 200px;
}

#section05box h2 {
    line-height: 1.2;
}

}


@media (max-width: 480px) {
	/* Ajustes para smartphones menores */

	#header img {
		max-width: 90%;
	}

	#logo>h1 {
		/* font-size: 1.5em; */
		font-weight: bold;
	}

	#logo>h1,
	#logo>h2 {
		font-size: 2em;
	}

	.section02Text strong {
		font-size: 1.2em;
	}

	#section03 h2 {
		font-size: 2em;
		width: 100%;
	}

	section#section03 {
		align-items: flex-start;
		background-size: auto 95%;
		background-position: 60% top;
		/* Centraliza horizontalmente e alinha ao topo */
	}

	#section03box>div {
		max-width: 55%;
	}

	#section03title {
		padding: 10px 0 0px 0;
	}

	#section03title img {
		width: 80%;
	}

	section#section04 {
		align-items: flex-start;
		background-size: auto 75%;
		background-position: 50% 60%;
		/* Centraliza horizontalmente e alinha ao topo */
		margin-bottom: -13%;
	}

	#section04title img {
		width: 80%;
	}

	#section04box>div {
		max-width: 55%;
	}

	#section04title {
		padding: 10% 0 10% 0;
	}

	#section04title h2 {
		font-size: 2em;
		padding: 10px 0 0 0;
		margin: 0 0 8% -20%;
	}

	#section04message {
		text-align: right;
	}

	#section05title h2 {
		font-size: 2em;
	}

	#section06 h2 {
		font-size: 2em;
		padding-left: 20px;
	}

	#section06 h3 {
		font-size: 1em;
	}

	#section06 .container-box {
		gap: 82px;
	}

	footer h1 {
		font-size: 3.5em;
	}

}

@media (min-width: 425px) and (max-width: 479px) {

	#section03 h2 {
		margin-bottom: 0;
	}

	#section03box>div {
		max-width: 57%;
	}

	#section03box p {
		margin-bottom: 2%;
	}

	#section03title {
		padding: 5px 0 0 0;
	}

	#section03title img {
		width: 90%;
	}

	section#section04 {
		align-items: flex-start;
		background-size: auto 75%;
		background-position: 45% 60%;
		/* Centraliza horizontalmente e alinha ao topo */
	}

	#section04title h2 {
		padding: 0;
		margin: -5% 0 0 -20%;
	}

	#section04title img {
		width: 90%;
	}

	#section04box p {
		margin-bottom: 2%;
	}

	#section04box>div {
		max-width: 57%;
	}

	#section04title {
		padding: 6% 0 2% 0;
	}

}

@media (min-width: 375px) and (max-width: 424px) {

	section#section03 {
		background-size: auto 90%;
		background-position: 65% 0%;
	}

	#section03 h2 {
		margin-bottom: 0;
		white-space: wrap;
		margin-right: 60%;
		font-size: 1.8em;
		line-height: 1.2em;
	}

	#section03box p {
		margin-bottom: 6%;
		font-size: .9em;
		max-width: 145px;
	}

	#section03title {
		max-width: 290px;
		white-space: wrap;
	}

	#section03title img {
		width: 90%;
	}

	section#section04 {
		align-items: flex-start;
		background-size: auto 75%;
		background-position: 45% 60%;
		/* Centraliza horizontalmente e alinha ao topo */
	}

	#section04title h2 {
		padding: 0;
		margin: -5% 0 0 -40%;
		white-space: wrap;
		font-size: 1.8em;
	}

	#section04title img {
		width: 90%;
	}

	#section04box p {
		margin: 0 0 10% 0;
		font-size: .9em;
		max-width: 114px;
		line-height: 1.2em;
		text-align: right;
	}

	#section04box>div {
		max-width: 57%;
	}

	#section04title {
		padding: 6% 0 2% 0;
	}

	#section04message {
		max-width: 114px;
	}

	.contact-form .form-submit-btn {
		font-size: .8em;
		width: 80%;
	}
}

@media (min-width: 270px) and (max-width: 374px) {

	section#section03 {
		background-size: auto 90%;
		background-position: 65% 0%;
		background-image: url(../img/fundo03b.jpeg);
	}

	#section03 h2 {
		margin-bottom: 0;
		white-space: nowrap;
		margin-right: 0%;
		font-size: 1.8em;
		line-height: 1.2em;
	}

	#section03 p {
		font-size: .8em;
	}

	#section03 #img {
		display: none;
	}

	section#section04 {
		background-size: auto 85%;
		background-position: 40% 60%;
		background-image: url(../img/fundo04b.jpeg);
	}

	#section04 p {
		font-size: .8em;
	}

	#section04 #img {
		display: none;
	}

	#section04title h2 {
		font-size: 1.8em;
		white-space: nowrap;
		padding: 10px 0 0 0;
		margin: 0 0 8% -80%;
	}

	section#section05 {
		display: block;
		height: 600px;
		padding: 5% 5% 0 5%;
		background-position: 68% 0%;
	}

	#section05title,
	#section05title h2,
	#section05title img,
	#section0message p,#section05Text {
		padding: 0;
		margin: 0;
		text-align: center;
	}

	.section05-container {
		max-width: 100%;
		width: 100%;
		/*display: flex;*/
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 10px;
		box-sizing: border-box;
	}

	#section05 #section05 span {
		font: 1em 'Oswald';
	}

	#section05Text {
		margin-bottom: 20px;
	}
	
	.form-container {
		width: 100%;
		max-width: 320px;
		padding: 5% 0 10% 0;
	}

	.contact-form {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	.form-group {
		width: 100%;
	}

	div#button.form-group {
        align-items: center;
	}

	.form-submit-btn {
		width: 100%;
		padding: 10px;
		font-size: 16px;
		background-color: #007bff;
		color: #fff;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		margin-top: 5%;
	}

	.form-submit-btn:hover {
		background-color: #0056b3;
	}

	#section06 {
		padding: 0;
	}

	#section06 .content-box { 
		max-width: 200px;
	}
}